/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Sans300.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/Sans400ru.woff') format('woff');
}*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/Sans300ru.woff') format('woff');
}