html
{
    position: relative;
}

    html body
    {
        height: 800px !important;
        width: 800px;
        margin: auto;
        position: relative;
    }

#quote
{
    position: absolute;
    bottom: 0px;
    padding-bottom: 15px;
    width: 780px;
    text-align: center;
    font-style: italic;
}
.auth
{
    font-size:24px !important;
    color:#0094ff !important;
    position:relative;
    top:150px;
    
}
#title
{
    font-size:16px;
}
#quote
{
    position:absolute;
    font-size:14px;
}